.App{ 
  min-height: 100vh; 
  background-image: linear-gradient(15deg, #217a13 0%, #8d80d0 100%); 
  } 
  .search-form{ 
  min-height: 10vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  } 
  .search-bar{ 
  width: 50%; 
  border:5px black; 
  padding: 10px; 
  border-radius: 5px; 
  box-shadow: 5px 10px #91939b; 
  } 
  .search-button{ 
  background: #080707; 
  border: 5px solid rgb(3, 3, 3); 
  border-radius: 8px; 
  padding: 10px 20px; 
  color: white; 
  font-size: larger; 
  margin: 0 0 0 10px; 
  } 
  .search-button:hover { 
  background-color:#7d5c5c ; 
  } 
  .recipes{ 
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap; 
  } 
  