.App{ 
  min-height: 100vh; 
  background-image: linear-gradient(15deg, #217a13 0%, #8d80d0 100%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px; 
  } 

  .search-form{ 
  min-height: 10vh; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  } 

  .input {
    padding: 6px 16px;
    min-width: 200px;
    max-width: 100vw;
    font-size: 15px;
  }
 

  .search-button{ 
  background: #080707; 
  border: 5px solid rgb(3, 3, 3); 
  border-radius: 8px; 
  padding: 10px 20px; 
  color: white; 
  font-size: larger; 
  margin: 0 0 0 10px; 
  } 

  .search-button:hover { 
  background-color:#7d5c5c ; 
  } 

  .recipes{ 
  display: flex; 
  justify-content: space-around; 
  flex-wrap: wrap; 
  } 
  
  .app__healthdropdown {
    padding: 7px 8px;
    margin-left: 6px;
    border-radius: 4px;
    
  }